.card_container {
    display: flex;
    
}

.Item_1 {
    
    background-color: #FF00FF;
    color: white;
    a {
    background-color: black;
    text-align: center;
    display: block;
    padding: 10 px;
    transition: background-color .3s ease-out;
    }

    
}

.Item_1 a:hover {
    cursor: pointer;
    
}